* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #EFEFEF;
}

body::before {
    content: '';
    width: 100%;
    height: 436px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    background: #535971;
  }
  
.page {

    display: flex;
    flex-direction: column;
    width: 1440px;
    height: 1932px;
    margin-inline: auto;

}

.header {
    margin-top: 140px;
    margin-left: 345px;
    color: #fff;
}
.header>h1 {
    font-size: 48px;
    color: #fff;
}
header p {
    width: 417px;
    font-size: 20px;
}

form {
    width: 750px;
    background-color: #fff;
    margin-left: 345px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

fieldset {
    border: none;
    margin-bottom: 64px;
}

legend, 
.fieldset-wrapper>p, 
h1 { 
    font-family: 'Staatliches', cursive;
    font-weight: normal;
    font-size: 24px;
    color: #535971;
    margin-top: 30px;
}

legend { 
    padding-bottom: 16px;
    margin-bottom: 16px;

    border-bottom-style: solid;
    border-width: 1px;
    border-color: #E6E6F0;
    width: 622px;    
}
#ip {
    margin-top: 64px;
    width: 662px;
    margin-inline: auto;
}
#im {
    width: 662px;
    margin-inline: auto;
}

#horarios {
    width: 662px;
    margin-inline: auto;
}
.row {
    display: flex;
}

.column {
    display: flex;
    flex-direction: column;
}

.input-wrapper input {
    margin-top: 8px;
}
.input-wrapper {
    margin-bottom: 8px;
    line-height: 24px;
    color: #4E4958;
    margin-top: 16px;
}
span {
    line-height: 20px;
    font-size: 12px;
    color: #C1BCCC;
}

.box1 {
    background-color: #FAFAFC;

    margin-right: 22px;
    width: 300px;
    height: 56px;

    border-radius: 8px;    
    border-width: 1px;
    border-color: #E6E6F0;    
}
.box2 {
    background-color: #FAFAFC;
    width: 622px;
    height: 56px;

    border-radius: 8px;    
    border-width: 1px;
    border-color: #E6E6F0; 
}
.box3 {
    background-color: #FAFAFC;
    width: 140px;
    height: 56px;

    border-radius: 8px;    
    border-width: 1px;
    border-color: #E6E6F0;
    margin-right: 10px;
}

input {
    appearance: none;
}
.hora {
    margin-left: 32px;

}

footer {
    display: flex;
    flex-direction: column;
    margin-left: 345px;
    width: 750px;
    height: 160px;

    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: #535971;
    margin-bottom: 366px;
}

button {
    width: 608px;
    height: 55.65px;
    border-radius: 20px;
    background-color: #FF5374;
    font-family: 'Staatliches';
    font-size: 20px;
    line-height: 26px;
    border-style: none;
    color: #fff;
}